
extends ../layout

block content
  h1=signup_form
  p Welcome to signup
  br
  form(action="/user/signup" method="POST")
    p Username 
      input(type="text" name="name")
    p Password
      input(type="password" name="password")
    input(type="submit" value="Submit")
