extends layout

block append head

block append content
  h1= title
  p Welcome to #{title}
  br

  if (locals.name)
    p Hello #{name} 
  else
    p Sorry

  br
  a(href="/test/sanity") sanity test
  br
  a(href="/user/signup_form") sign up
  br
  h2 signin
  form(action="/user/signin" method="POST")
    p Username 
      input(type="text" name="name")
    p Password
      input(type="password" name="password")
    input(type="submit" value="Submit")
