doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    block content
      nav(class='navbar navbar-light bg-light')
        a(class='navbar brand', href='/') Recipe App 

      if (locals.authenticated)
        p logged in! 
      else
        p not logged in
